.alert {
    position: fixed;
    top: 40vh;
    left: 25vw;
    padding: 20px;
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
    border-radius: 5px;
    width: 50vw;
}

.alert h1 {
    margin-bottom: 10px;
}

.alert button {
    padding: 10px 20px;
    background-color: #a94442;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}