html,
html * {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #472183;
}

html,
body,
#root {
    height: 100vh;
    width: 100vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #82C3EC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #82c3ec81;
}